
body{
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.header{
    background-color: cadetblue;
    color: whitesmoke;
    border: solid 2px wheat;
}
.bck{
    width: 200px;
}
.del{
    width: 50%;}

.btnContainer{
    border: solid 1px black;
    display: flex;
    justify-content: center;
}

table, tr, td {
    border: 1px solid black;
    
}